* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace, Impact, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: darkslateblue;
}

ul {
  list-style-type: none;
}

p {
  max-width: 400px;
}

.heroleft details {
  font-size: 20px;
  max-width: 400px;
}

.container {
  min-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbox {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding: 1em;
  align-items: center;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.heroleft p {
  font-size: 20px;
  font-weight: 530;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

a:hover {
  font-weight: 800;
}

.navbox > .logo {
  margin-right: auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.hero-left,
.hero-right {
  max-width: 200px;
}

.hero-left p {
}

.hero-button {
  margin-top: 20px;
  background-color: greenyellow;
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 99px;
}

.hero-button:hover {
  background-color: rgb(97, 194, 1);
}

.header-container {
  background-color: darkslateblue;
}

.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: slategray;
  min-height: 500px;
}

h2 {
  margin-bottom: 50px;
  margin-top: 50px;
}

.cards {
  display: flex;
  margin-bottom: 100px;
  width: 1100px;
  justify-content: space-evenly;
}

.third-container {
  background-color: rgb(95, 110, 124);
  display: flex;
  min-height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.quote {
  font-size: 24px;
  max-width: 500px;
  font-style: italic;
}

.quote-author {
  align-self: flex-end;
  margin-right: 650px;
  font-size: 20px;
  font-weight: bold;
}

.fourth-container {
  background-color: slategray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.signup-banner {
  background-color: greenyellow;
  border-radius: 10px;
  min-height: 250px;
  margin-top: 50px 70px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-left h3 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 500;
}
.banner-left p {
  font-size: 20px;
  color: rgb(70, 68, 68);
}

.banner-right button {
  height: 50px;
  width: 150px;
  background-color: greenyellow;
  border: 4px solid black;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.banner-right button:hover {
  background-color: rgb(144, 212, 41);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  font-size: 20px;
  font-weight: 800;
}
